[submodule "submods/dotbot"]
	path = submods/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "submods/zshrc1"]
	path = submods/zshrc1
	url = git@github.com:mattmc3/zshrc1.git
[submodule "submods/themes/tokyonight.nvim"]
	path = submods/themes/tokyonight.nvim
	url = git@github.com:folke/tokyonight.nvim.git
[submodule "submods/themes/catppuccin/bat"]
	path = submods/themes/catppuccin/bat
	url = git@github.com:catppuccin/bat.git
[submodule "submods/dotbot-plugins/dotbot-brew"]
	path = submods/dotbot-plugins/dotbot-brew
	url = git@github.com:d12frosted/dotbot-brew.git
[submodule "submods/dotfiles_examples/josean-dev/dev-environment-files"]
	path = submods/dotfiles_examples/josean-dev/dev-environment-files
	url = git@github.com:josean-dev/dev-environment-files.git
